USE [master]
GO
/****** Object:  Database [EmployeeManagementDB]    Script Date: 15-06-2026 10:30:16 ******/
CREATE DATABASE [EmployeeManagementDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EmployeeManagementDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\EmployeeManagementDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EmployeeManagementDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\EmployeeManagementDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmployeeManagementDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EmployeeManagementDB]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 15-06-2026 10:30:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[DepartmentId] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [varchar](100) NOT NULL,
	[Description] [varchar](500) NULL,
	[Status] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 15-06-2026 10:30:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeCode] [varchar](20) NOT NULL,
	[EmployeeName] [varchar](100) NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[Designation] [varchar](100) NOT NULL,
	[Email] [varchar](150) NOT NULL,
	[MobileNo] [varchar](15) NOT NULL,
	[JoiningDate] [date] NOT NULL,
	[Status] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 15-06-2026 10:30:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](100) NOT NULL,
	[Email] [varchar](150) NOT NULL,
	[PasswordHash] [varchar](max) NOT NULL,
	[RoleName] [varchar](20) NOT NULL,
	[Status] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Department] ON 

INSERT [dbo].[Department] ([DepartmentId], [DepartmentName], [Description], [Status], [CreatedDate], [ModifiedDate]) VALUES (1, N'Information Technology', N'Software Development and Support', 1, CAST(N'2026-06-15T01:07:57.513' AS DateTime), NULL)
INSERT [dbo].[Department] ([DepartmentId], [DepartmentName], [Description], [Status], [CreatedDate], [ModifiedDate]) VALUES (2, N'Human Resources', N'Employee Management and Recruitment', 1, CAST(N'2026-06-15T01:07:57.513' AS DateTime), NULL)
INSERT [dbo].[Department] ([DepartmentId], [DepartmentName], [Description], [Status], [CreatedDate], [ModifiedDate]) VALUES (3, N'Finance', N'Accounts and Financial Operations', 1, CAST(N'2026-06-15T01:07:57.513' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Department] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([EmployeeId], [EmployeeCode], [EmployeeName], [DepartmentId], [Designation], [Email], [MobileNo], [JoiningDate], [Status], [CreatedDate], [ModifiedDate]) VALUES (1, N'EMP001', N'Rahul Patil', 1, N'Software Engineer', N'rahul@gmail.com', N'9876543210', CAST(N'2024-01-15' AS Date), 1, CAST(N'2026-06-15T01:08:19.910' AS DateTime), NULL)
INSERT [dbo].[Employee] ([EmployeeId], [EmployeeCode], [EmployeeName], [DepartmentId], [Designation], [Email], [MobileNo], [JoiningDate], [Status], [CreatedDate], [ModifiedDate]) VALUES (2, N'EMP002', N'Priya Shah', 2, N'HR Executive', N'priya@gmail.com', N'9876543211', CAST(N'2024-02-10' AS Date), 1, CAST(N'2026-06-15T01:08:19.910' AS DateTime), NULL)
INSERT [dbo].[Employee] ([EmployeeId], [EmployeeCode], [EmployeeName], [DepartmentId], [Designation], [Email], [MobileNo], [JoiningDate], [Status], [CreatedDate], [ModifiedDate]) VALUES (3, N'EMP003', N'Amit Joshi', 3, N'Accountant', N'amit@gmail.com', N'9876543212', CAST(N'2024-03-05' AS Date), 1, CAST(N'2026-06-15T01:08:19.910' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [UserName], [Email], [PasswordHash], [RoleName], [Status], [CreatedDate], [ModifiedDate]) VALUES (1, N'Admin', N'admin@raintree.com', N'Admin@123', N'Admin', 1, CAST(N'2026-06-12T14:55:04.647' AS DateTime), NULL)
INSERT [dbo].[Users] ([UserId], [UserName], [Email], [PasswordHash], [RoleName], [Status], [CreatedDate], [ModifiedDate]) VALUES (6, N'Rahul Patil', N'rahul@gmail.com', N'Rahul@123', N'User', 1, CAST(N'2026-06-15T01:14:17.953' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Departme__D949CC342DCCA02A]    Script Date: 15-06-2026 10:30:16 ******/
ALTER TABLE [dbo].[Department] ADD UNIQUE NONCLUSTERED 
(
	[DepartmentName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Department_Status]    Script Date: 15-06-2026 10:30:16 ******/
CREATE NONCLUSTERED INDEX [IX_Department_Status] ON [dbo].[Department]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Employee__1F6425487FCC5B4B]    Script Date: 15-06-2026 10:30:16 ******/
ALTER TABLE [dbo].[Employee] ADD UNIQUE NONCLUSTERED 
(
	[EmployeeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Employee__A9D1053439EFD56C]    Script Date: 15-06-2026 10:30:16 ******/
ALTER TABLE [dbo].[Employee] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Employee_DepartmentId]    Script Date: 15-06-2026 10:30:16 ******/
CREATE NONCLUSTERED INDEX [IX_Employee_DepartmentId] ON [dbo].[Employee]
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Employee_Status]    Script Date: 15-06-2026 10:30:16 ******/
CREATE NONCLUSTERED INDEX [IX_Employee_Status] ON [dbo].[Employee]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534D7339338]    Script Date: 15-06-2026 10:30:16 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Department] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Department] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Department] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Department] ([DepartmentId])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Department]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([RoleName]='User' OR [RoleName]='Admin'))
GO
/****** Object:  StoredProcedure [dbo].[USP_Master]    Script Date: 15-06-2026 10:30:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[USP_Master]
(
    @Module VARCHAR(50),
    @Action VARCHAR(50),

    -- User
    @UserId INT = NULL,
    @UserName VARCHAR(100) = NULL,
    @PasswordHash VARCHAR(MAX) = NULL,
    @RoleName VARCHAR(20) = NULL,

    -- Common
    @Email VARCHAR(150) = NULL,
    @Status BIT = NULL,

    -- Department
    @DepartmentId INT = NULL,
    @DepartmentName VARCHAR(100) = NULL,
    @Description VARCHAR(500) = NULL,

    -- Employee
    @EmployeeId INT = NULL,
    @EmployeeCode VARCHAR(20) = NULL,
    @EmployeeName VARCHAR(100) = NULL,
    @Designation VARCHAR(100) = NULL,
    @MobileNo VARCHAR(15) = NULL,
    @JoiningDate DATE = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    -----------------------------------------------------
    -- USER MODULE
    -----------------------------------------------------

    IF @Module='USER' AND @Action='REGISTER'
    BEGIN
        INSERT INTO Users
        (
            UserName,
            Email,
            PasswordHash,
            RoleName,
            Status,
            CreatedDate
        )
        VALUES
        (
            @UserName,
            @Email,
            @PasswordHash,
            @RoleName,
            1,
            GETDATE()
        )
    END

    ELSE IF @Module='USER' AND @Action='LOGIN'
    BEGIN
        SELECT *
        FROM Users
        WHERE Email=@Email
        AND Status=1
    END

    ELSE IF @Module='USER' AND @Action='GETALL'
    BEGIN
        SELECT *
        FROM Users
        WHERE Status=1
        ORDER BY UserId DESC
    END

    -----------------------------------------------------
    -- DEPARTMENT MODULE
    -----------------------------------------------------

    ELSE IF @Module='DEPARTMENT' AND @Action='INSERT'
    BEGIN
        INSERT INTO Department
        (
            DepartmentName,
            Description,
            Status,
            CreatedDate
        )
        VALUES
        (
            @DepartmentName,
            @Description,
            1,
            GETDATE()
        )
    END

    ELSE IF @Module='DEPARTMENT' AND @Action='UPDATE'
    BEGIN
        UPDATE Department
        SET
            DepartmentName=@DepartmentName,
            Description=@Description,
			Status=@Status,
            ModifiedDate=GETDATE()
        WHERE DepartmentId=@DepartmentId
    END

    ELSE IF @Module='DEPARTMENT' AND @Action='DELETE'
    BEGIN
        UPDATE Department
        SET
            Status=0,
            ModifiedDate=GETDATE()
        WHERE DepartmentId=@DepartmentId
    END

    ELSE IF @Module='DEPARTMENT' AND @Action='GETBYID'
    BEGIN
        SELECT *
        FROM Department
        WHERE DepartmentId=@DepartmentId
    END

    ELSE IF @Module='DEPARTMENT' AND @Action='GETALL'
    BEGIN
        SELECT *
        FROM Department
        
        ORDER BY DepartmentId DESC
    END

    -----------------------------------------------------
    -- EMPLOYEE MODULE
    -----------------------------------------------------

    ELSE IF @Module='EMPLOYEE' AND @Action='INSERT'
    BEGIN
        INSERT INTO Employee
        (
            EmployeeCode,
            EmployeeName,
            DepartmentId,
            Designation,
            Email,
            MobileNo,
            JoiningDate,
            Status,
            CreatedDate
        )
        VALUES
        (
            @EmployeeCode,
            @EmployeeName,
            @DepartmentId,
            @Designation,
            @Email,
            @MobileNo,
            @JoiningDate,
            1,
            GETDATE()
        )
    END

    ELSE IF @Module='EMPLOYEE' AND @Action='UPDATE'
    BEGIN
        UPDATE Employee
        SET
            EmployeeCode=@EmployeeCode,
            EmployeeName=@EmployeeName,
            DepartmentId=@DepartmentId,
            Designation=@Designation,
            Email=@Email,
            MobileNo=@MobileNo,
            JoiningDate=@JoiningDate,
            Status=@Status,
            ModifiedDate=GETDATE()
        WHERE EmployeeId=@EmployeeId
    END

    ELSE IF @Module='EMPLOYEE' AND @Action='DELETE'
    BEGIN
        UPDATE Employee
        SET
            Status=0,
            ModifiedDate=GETDATE()
        WHERE EmployeeId=@EmployeeId
    END

    ELSE IF @Module='EMPLOYEE' AND @Action='GETBYID'
    BEGIN
        SELECT *
        FROM Employee
        WHERE EmployeeId=@EmployeeId
    END

    ELSE IF @Module='EMPLOYEE' AND @Action='GETALL'
    BEGIN
        SELECT
            E.EmployeeId,
            E.EmployeeCode,
            E.EmployeeName,
            D.DepartmentName,
            E.Designation,
            E.Email,
            E.MobileNo,
            E.JoiningDate,
            E.Status
        FROM Employee E
        INNER JOIN Department D
            ON E.DepartmentId=D.DepartmentId
        ORDER BY E.EmployeeId DESC
    END
	ELSE IF @Module='EMPLOYEE'
AND @Action='MYPROFILE'
BEGIN

    SELECT
        E.EmployeeCode,
        E.EmployeeName,
        D.DepartmentName,
        E.Designation,
        E.Email,
        E.MobileNo,
        E.JoiningDate,
        E.Status
    FROM Employee E
    INNER JOIN Department D
        ON E.DepartmentId = D.DepartmentId
    WHERE E.Email = @Email

END
    -----------------------------------------------------
    -- DASHBOARD
    -----------------------------------------------------

    ELSE IF @Module='DASHBOARD' AND @Action='COUNT'
    BEGIN
        SELECT
            (SELECT COUNT(*) FROM Employee) AS TotalEmployees,
            (SELECT COUNT(*) FROM Employee WHERE Status=1) AS ActiveEmployees,
            (SELECT COUNT(*) FROM Employee WHERE Status=0) AS InactiveEmployees,
            (SELECT COUNT(*) FROM Department WHERE Status=1) AS TotalDepartments
    END

	ELSE IF @Module='DASHBOARD' AND @Action='RECENTEMPLOYEES'
BEGIN
    SELECT TOP 5
        E.EmployeeId,
        E.EmployeeName,
        D.DepartmentName,
        E.Designation,
        E.CreatedDate
    FROM Employee E
    INNER JOIN Department D
        ON E.DepartmentId = D.DepartmentId
    ORDER BY E.EmployeeId DESC
END

    -----------------------------------------------------
    -- REPORT
    -----------------------------------------------------

    ELSE IF @Module='REPORT' AND @Action='DEPARTMENTWISE'
    BEGIN
        SELECT
            D.DepartmentName,
            E.EmployeeCode,
            E.EmployeeName,
            E.Designation,
            E.Email,
            E.MobileNo,
            CASE
                WHEN E.Status=1 THEN 'Active'
                ELSE 'Inactive'
            END AS EmployeeStatus
        FROM Employee E
        INNER JOIN Department D
            ON E.DepartmentId=D.DepartmentId
        ORDER BY D.DepartmentName,E.EmployeeName
    END


	ELSE IF @Module='DASHBOARD' AND @Action='DEPARTMENTCHART'
BEGIN
    SELECT
        D.DepartmentName,
        COUNT(E.EmployeeId) AS EmployeeCount
    FROM Department D
    LEFT JOIN Employee E
        ON D.DepartmentId = E.DepartmentId
    WHERE D.Status = 1
    GROUP BY D.DepartmentName
    ORDER BY D.DepartmentName
END


END
GO
USE [master]
GO
